Client/SOAP_Client/xml-resources/web-service-references/WsClient/wsdl/titanic.ecci.ucr.ac.cr_80/_eb23990/PlayGato/.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Descripción WSDL de la clase Hola Mundo. -->

<definitions name="ECCI_Gato"
             targetNamespace="urn:ECCI_Gato"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="urn:ECCI_Gato"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

  <!-- Tipos complejos -->

  <types xmlns="http://schemas.xmlsoap.org/wsdl/">
    <xsd:schema targetNamespace="urn:ECCI_Gato">

      <xsd:element name="newGame">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="player1" type="xsd:string" />
            <xsd:element name="player2" type="xsd:string" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="newGameReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="newGameResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="newScore">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="player" type="xsd:string" />
            <xsd:element name="time" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="newScoreReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="newScoreResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="leaderboards">
        <xsd:complexType >
               <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="returnLeaderboards">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="leaderboardsResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>


      <xsd:element name="makeMove">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="x" type="xsd:int"/>
            <xsd:element name="y" type="xsd:int"/>
            <xsd:element name="player" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="makeMoveReturn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="makeMoveResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- Mensajes para comunicarse con la clase HolaMundo. -->

  <message name="newGameRequest">
    <part name="parameters" element="tns:newGame" />
  </message>

  <message name="newGameResponse">
    <part name="parameters" element="tns:newGameReturn" />
  </message>

  <message name="newScoreRequest">
    <part name="parameters" element="tns:newScore" />
  </message>

  <message name="newScoreResponse">
    <part name="parameters" element="tns:newScoreReturn" />
  </message>

  <message name="leaderboardsRequest">
    <part name="parameters" element="tns:leaderboards" />
  </message>

  <message name="leaderboardsResponse">
    <part name="parameters" element="tns:returnLeaderboards" />
  </message>


  <message name="makeMoveRequest">
    <part name="parameters" element="tns:makeMove" />
  </message>

  <message name="makeMoveResponse">
    <part name="parameters" element="tns:makeMoveReturn" />
  </message>

  <!-- Puerto para comunicar con la clase HolaMundo, "ECCI_Gato" -->

  <portType name="ECCI_GatoPort">

    <operation name="newGame">
      <input message="tns:newGameRequest" />
      <output message="tns:newGameResponse" />
    </operation>

    <operation name="leaderboards">
      <input message="tns:leaderboardsRequest" />
      <output message="tns:leaderboardsResponse" />
    </operation>

    <operation name="newScore">
      <input message="tns:newScoreRequest" />
      <output message="tns:newScoreResponse" />
    </operation>

    <operation name="makeMove">
      <input message="tns:makeMoveRequest" />
      <output message="tns:makeMoveResponse" />
    </operation>

  </portType>

  <!-- Vinculación de los llamados con el transporte - Document, SOAP/Literal over HTTP -->

  <binding name="ECCI_GatoBinding" type="tns:ECCI_GatoPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="newGame">
      <soap:operation soapAction="urn:ECCI_Gato#Gato#newGame" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="makeMove">
      <soap:operation soapAction="urn:ECCI_Gato#Gato#makeMove" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="newScore">
      <soap:operation soapAction="urn:ECCI_Gato#Gato#newScore" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

    <operation name="leaderboards">
      <soap:operation soapAction="urn:ECCI_Gato#Gato#leaderboards" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

  </binding>

  <!-- Punto de comunicación con la clase HolaMundo -->

  <service name="ECCI_Gato">
    <documentation />
    <port name="ECCI_GatoPort" binding="tns:ECCI_GatoBinding">
      <soap:address location="http://titanic.ecci.ucr.ac.cr:80/~eb23990/PlayGato/" />
    </port>
  </service>

</definitions>
