Server/gato.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Descripción WSDL de la clase Hola Mundo. -->

<definitions
    name="ECCI_GATO"
    targetNamespace="urn:ECCI_GATO"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="urn:ECCI_GATO"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <!-- Tipos complejos -->
    <types xmlns="http://schemas.xmlsoap.org/wsdl/">
        <xsd:schema targetNamespace="urn:ECCI_GATO">

            <xsd:element name="getNewGame">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="player1" type="xsd:string"/>
                        <xsd:element name="player2" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="setNewMove">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="x" type="xsd:integer"/>
                        <xsd:element name="y" type="xsd:integer"/>
                        <xsd:element name="player_name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="returnNewGame">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="game" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="returnNewMove">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="move" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

    <!-- Mensajes para comunicarse con la clase HolaMundo. -->

    <message name="newGameRequest">
        <part name="parameters" element="tns:getNewGame"/>
    </message>

    <message name="newGameResponse">
      <part name="parameters" element="tns:returnNewGame"/>
    </message>
    <message name="newMoveRequest">
        <part name="parameters" element="tns:setNewMove"/>
    </message>
    <message name="newMoveResponse">
        <part name="parameters" element="tns:returnNewMove"/>
    </message>


    <!-- Puerto para comunicar con la clase HolaMundo, "ECCI_HolaMundo" -->

    <portType name="ECCI_GATOPort">
        <operation name="newGame">
            <input message="tns:newGameRequest"/>
            <output message="tns:newGameResponse"/>
        </operation>

        <operation name="makeMove">
            <input message="tns:newMoveRequest"/>
            <output message="tns:newMoveResponse"/>
        </operation>

    </portType>

    <!-- Vinculación de los llamados con el transporte - Document, SOAP/Literal over HTTP -->

    <binding name="ECCI_GATOBinding" type="tns:ECCI_GATOPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="newGame">
            <soap:operation soapAction="urn:ECCI_GATO#gato#newGame" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="makeMove">
            <soap:operation soapAction="urn:ECCI_GATO#gato#makeMove" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>

    <!-- Punto de comunicación con la clase HolaMundo -->

    <service name="ECCI_GATO">
        <documentation/>
        <port name="ECCI_GATOPort" binding="tns:ECCI_GATOBinding">
            <soap:address location="http://titanic.ecci.ucr.ac.cr:80/~eb23990/PlayGato/"/>
        </port>
    </service>

</definitions>
